# Python
*/python/__pycache__
*/python/.cache

# .Net Core
*/*sharp/**/obj
*/*sharp/**/bin

# Elixir
*/elixir/**/_build
*/elixir/**/deps
*/elixir/**/.fetch
*/elixir/**/erl_crash.dump
*/elixir/**/*.ez

# Misc
thumbs.db
.DS_Store
bin