# Python
solutions/python/__pycache__
solutions/python/.cache

# .Net Core
solutions/csharp/**/obj
solutions/csharp/bin

# Elixir
solutions/elixir/**/_build
solutions/elixir/**/deps
solutions/elixir/**/.fetch
solutions/elixir/**/erl_crash.dump
solutions/elixir/**/*.ez

# Misc
thumbs.db
.DS_Store